streamlit==1.34.0
tiktoken==0.7.0
loguru==0.7.2
langchain==0.2.9
langchain-community==0.2.7
langchain-core==0.2.20
langchain-google-genai==1.0.7
langchain-text-splitters==0.2.2
transformers==4.42.4
sentence-transformers==3.0.1
torch==2.3.1+cu121
pypdf==4.3.0
faiss-cpu==1.8.0
